@import '../node_modules/material-design-icons/iconfont/material-icons.css';

@import (css) '../node_modules/quill/dist/quill.base.css';
@import (css) '../node_modules/quill/dist/quill.snow.css';

@import (css) '../node_modules/video.js/dist/video-js.min.css';

.sidebar-item {
  text-decoration: none;

  &.sidebar-item-active {

    & > div {
      background-color: #CCC;
    }

  }
}

.page-main {
  position: relative;
}

.page-main {
  height: 100%;
  width: 100%
}

.config-editor {
  height: calc(~'100% - 40px');
  width: 100%
}

.left-area {
  position: absolute;
  width: 330px;
  height: 100%;
  border-right: 1px solid #CCC;
}

.right-area {
  position: absolute;
  width: calc(~'100% - 330px');
  height: 100%;
  right: 0px
}

.questions-area {
  padding: 10px;
  box-sizing: border-box;
}

.interpvid {
  height: 100%;
  width: 100%;
  background-color: black;

  & > div {
    margin-left: auto;
    margin-right: auto;
  }

  .vjs-tech {
    pointer-events: all !important;
  }

}

.sortable-chosen {
  display: block;
}

.vjs-poster {
  background-color: black;
}

.ql-snow.ql-toolbar {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}