@import (css) "../node_modules/video.js/dist/video-js.min.css";

html, body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

html, body, #view {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

.main-area {
    padding: 30px;
}

.interpvid,
.video-js {
    height:100%;
    width: 100%;

    .vjs-tech {
        pointer-events: none;
    }
}